@model IceCreamParlour.Models.IceCream

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>IceCream</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IceCreamName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IceCreamName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IceCreamDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IceCreamDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IceCreamPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IceCreamPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand.BrandId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Flavour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Flavour.FlavourId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Distributor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Distributor.DistributorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IceCreamId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
