@model IEnumerable<IceCreamParlour.Models.Distributor>

@{
    ViewData["Title"] = "Index";
}

<h1>Distributors</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DistributorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistributorContactNo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DistributorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistributorContactNo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DistributorId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DistributorId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DistributorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
